/* style.css */

* { font-family: Agency FB; }

body { background-color: #aaa; }

h1{ padding-left: 70px; padding-top: 30px }

h3{ padding-left: 70px }

button{ font-size: 16pt; margin: 1em 1em 1em 1em }

#dashboard_div { padding-left: 70px; padding-right: 70px; padding-top: 40px; font-size: 16pt }

#year_control_div { padding-right: 1em; min-width: 250px }

.charts-menu {overflow-y:scroll; max-height:100px}
